* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: #141414;
}

body::-webkit-scrollbar {
    display: none;
}

/* Header ======== */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem;
}

header div.logo {
    display: flex;
    align-items: center;
}

header div.logo img {
    width: 80px;
    margin: 1rem;

    border-radius: 50%;
}

div.right h2 {
    font-weight: normal;
}

div.right h2 strong {
    background: #07ED6F;
    padding: 3px;
}

/* Highlights ======== */

main {
    display: flex;
    justify-content: space-around;
}

main h3 {
    font-size: 16px;
}

main section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 5rem;
}

section.highlight__player {
    padding: 2rem;
    background: #07ED6F;
    border-radius: 10px;

    display: flex;
}

main section.highlight__player img {
    width: 300px;
    border-radius: 50%;
}

main section div.best__player,
main section div.play__more,
main section div.worst__player {
    background: #fff;
    color: #141414;
    
    height: 150px;
    width: 450px;

    margin: 1rem;
    border-radius: 10px;

    display: flex;
    align-items: center;
}


main section div.best__player img,
main section div.play__more img,
main section div.worst__player img {
    width: 100px;
    height: 100px;
    border-radius: 50px;

    margin: 1.5rem;
    border: 3px solid #07ED6F;
}